<!DOCTYPE html>
<html lang="en">
<head>
  <title>TODO LIST</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>
    YOUR TODO LIST
  </h1>
  <div class="wrapper">
	<%= yield %>
  </div>
</body>
</html>
