<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinatra Hello World</title>
  <style>
  body {
  	text-align: center;
  	font-family: Tahoma, Geneva, sans-serif;
  	max-width: 800px;
  	margin: 32px auto;
  }

  code {
  	display: inline-block;
  	font-size: inherit;
  	font-family: Menlo, Consolas, monaco, monospace;
  	border: 1px solid #777;
  	border-radius: 3px;
  	padding: 0 5px;
  }
  </style>
</head>
<body>
	<%= yield %>
</body>
</html>