<p>
<a href="/">&laquo; Back</a>
</p>
<% @list.each do |line| %>
<p><%= line %></p>
<% end %>

<form action='/' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <input type='submit' value='Save'>
</form>
