<% @tasks.order(:due_date).each do |item| %>

<div class="todoitem">
<div class = "button1">
  <%= item.description %> -- <%= item.due_date %>
  <form action='/delete/<%= item.id%>' method='POST'>
    <input type='submit' value='X'>
  </form>
</div>
</div>
<% end %>

<form action='/' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <div class = "button2">
    <input type='submit' value='Save'>
  </div>
</form>
