body {
  text-align: center;
  font-family: Comic Sans MS, #333;
  font-size: 140%;
  background: url(/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: #E68A00;
}

h1 {
  font-family: "Altamonte NF", Comic Sans MS, Times New Roman, sans-serif;
  font-size: 400%;
  color: #E68A00;
}

.wrapper {
  text-align: left;
  width: 70%;
  margin: 32px auto;
  background: #CCFFFF;
  padding: 32px;
  border: 16px solid red;
}

.button{
   display: left;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: "sans-serif", Comic Sans MS, Times New Roman, serif;
   text-decoration: none;
   vertical-align: middle;

}

form {
  display: inline-block;

}
