body {
  text-align: center;
  font-family: Comic Sans MS, #333;
  font-size: 140%;
  background: url(/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: #E68A00;
}

h1 {
  font-family: "Altamonte NF", Comic Sans MS, Times New Roman, sans-serif;
  font-size: 400%;
}

.wrapper {
  width: 70%;
  margin: 32px auto;
  background: #CCFFFF;
  padding: 32px;
  border: 16px solid red;
}
